<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tree" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : " Tree - Community" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat" rel="stylesheet">
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container-fluid">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <footer class="container-fluid">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
